img {
  filter: grayscale(100%);
}

.nav-bar {
  width: 100%;
  box-sizing: border-box;
  height: 200px;
  color: #fff;
  background-color: #666;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.nav-bar > div {
  margin: 0 5px;
}

.smashing-logo {
  width: 20%;
  margin: auto;
}

.nav-grow {
  width: 10%;
  flex-grow: 1;
}

.nav-grow img {
  width: 38px;
  display: block;
  margin: 20px auto;
}

.nav-text {
  text-align: center;
}

.nav-text h2 {
  font-family: "Sansita", sans-serif;
  font-size: 24px;
}

.nav-text span {
  display: block;
  margin: 20px 0;
  font-family: "Spinnaker", sans-serif;
  font-size: 14px;
  font-style: italic;
}

.search-button {
  width: 10%;
  margin: auto;
}

.search-text {
  width: 60%;
  margin: auto;
  border: 3px solid #fff;
  border-radius: 8px;
  padding: 15px;
  font-family: "Sansita", sans-serif;
  font-size: 18px;
  text-align: center;
}

.main-articles {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 808px 562px;
}

.main-articles .center {
  position: absolute;
  top: 70px;
  left: calc((100% - 400px) / 2);
  width: 400px;
  height: 100px;
  background-color: #fff;
}

.article1 {
  background-color: #5b5b5b;
}

.article2 {
  background-color: #616161;
}

.article3 {
  background-color: #565656;
}

.article4 {
  background-color: #5b5b5b;
}

.latest-articles {
  margin: auto;
  background-color: #f4f4f4;
}

.latest-articles-wrapper {
  min-width: calc(100% / 3);
  max-width: 94%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.latest-articles-wrapper > article {
  width: 400px;
  height: 740px;
  box-sizing: border-box;
  padding: 10px 20px 10px 10px;
}

.latest-articles-wrapper > div {
  width: 400px;
  height: 740px;
  box-sizing: border-box;
  padding: 10px 20px 10px 10px;
}

.community-articles > div {
  width: 50%;
  height: 380px;
  background-color: rgb(189, 187, 187);
}

.latest-articles-wrapper :nth-child(4) {
  flex-grow: 2;
}

.latest-articles-wrapper :nth-child(9) {
  flex-grow: 2;
}

.guides-links-wrapper > div {
  width: 400px;
  height: 600px;
  background-color: rgb(134, 134, 134);
}

.latest-articles-wrapper div:nth-child(1) {
  height: 740px;
}

.latest-articles-days {
  font-family: "Spinnaker", sans-serif;
  margin: 30px 0 0 0;
}

.latest-articles-title {
  font-family: "Sansita", sans-serif;
  font-size: 30px;
  display: block;
  margin: 20px 0 40px 0;
  line-height: 1.2;
  color: #111;
}

.latest-articles-text {
  font-family: "Spinnaker", sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.member-count {
  background-color: #666;
  height: 740px;
  border: 1px solid #666;
  border-radius: 20px;
  margin: 0 15px 0 15px;
}

.smashing-tv {
  background-color: #666;
  height: 740px;
  border: 1px solid #666;
  border-radius: 20px;
  margin: 0 15px 0 15px;
}

.latest-link {
  width: 100%;
  height: 170px;
  background-color: #f4f4f4;
}

.links-a {
  display: block;
  padding-top: 75px;
  color: rgb(51, 51, 51);
  text-decoration: none;
  text-align: center;
}

.design-handbook {
  height: 1091px;
  background-color: #b0b0b0;
  text-align: center;
}

.community-links {
  background-color: #fff;
}

.person-week {
  height: 320px;
  text-align: center;
}

.community-articles {
  display: flex;
  flex-wrap: wrap;
}

.community-articles :nth-child(1) {
  background-color: rgb(134, 134, 134);
}

.community-articles :nth-child(4) {
  background-color: rgb(134, 134, 134);
}

.community-articles :nth-child(5) {
  background-color: rgb(134, 134, 134);
}

.more-twitter {
  height: 170px;
}

.featured-book {
  height: 406px;
  background-color: #666;
  text-align: center;
  color: white;
}

.guides-links {
  background-color: #f4f4f4;
}

.guides-links-wrapper {
  min-width: calc(100% / 3);
  max-width: 94%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.guides-links-wrapper :nth-child(2n) {
  background-color: rgb(189, 187, 187);
}

.guides-links-wrapper :last-child {
  height: 1033px;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 20px;
  flex-grow: 4;
}

.all-articles {
  height: 170px;
}

.page-footer {
  margin: auto;
  text-align: center;
  height: 663px;
  background-color: #666;
  color: #fff;
}

.other-links {
  padding-bottom: 10px;
}

.nav li {
  display: inline-block;
  color: #fff;
}

.page-footer .other-links li {
  display: inline-block;
  font-size: 1.5rem;
}

.page-footer .other-links {
  list-style-type: disc;
  width: 95%;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}

footer a {
  text-decoration: underline;
  line-height: 0.6;
  color: #fff;
}

.nav a {
  line-height: 3;
  margin: 10px;
}

.latest-articles-author a {
  color: #555;
}

footer .other-links a {
  line-height: 2;
  text-decoration: none;
}

.footer-header {
  text-align: center;
  padding-top: 60px;
}

footer div p {
  margin-top: 10px;
}

footer .italic {
  font-style: italic;
  margin-top: 50px;
}

.other-links a:hover {
  color: #000;
}

.other-links a::before {
  content: "•";
  margin: 0 0.25em 0 0.25em;
  display: inline-block;
  color: #3a3a3a;
  font-size: calc(1em + ((0.4vw + 0.25vh) / 2));
  position: relative;
  top: 2px;
}

.nav {
  width: 40%;
  text-align: center;
  overflow: hidden;
  margin: auto;
  margin-top: 30px;
}

.latest-articles-author {
  font-family: "Sansita", sans-serif;
  margin-bottom: 25px;
}

.latest-articles-author a:hover {
  color: #111;
}
