.nav-bar {
  width: 100%;
  height: 200px;
  background-color: #666;
}

.main-articles {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 808px 562px;
}

.main-articles > div {
  position: absolute;
  top: 70px;
  left: calc((100% - 400px) / 2);
  width: 400px;
  height: 100px;
  background-color: #fff;
}

.article1 {
  background-color: #5b5b5b;
}

.article2 {
  background-color: #616161;
}

.article3 {
  background-color: #565656;
}

.article4 {
  background-color: #5b5b5b;
}

.latest-articles {
  margin: auto;
  background-color: #f4f4f4;
}

.latest-articles-wrapper {
  min-width: 428px;
  max-width: 1274px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.latest-articles-wrapper > div {
  width: 400px;
  height: 740px;
  box-sizing: border-box;
  margin: 10px 20px 10px 10px;
}

.latest-articles-wrapper :nth-child(4) {
  flex-grow: 2;
}

.latest-articles-wrapper :nth-child(9) {
  flex-grow: 2;
}

.latest-articles-wrapper div:nth-child(1) {
  height: 740px;
}

.latest-articles-days {
  font-family: 'Spinnaker', sans-serif;
  margin: 30px 0 0 0;
}

.latest-articles-title {
  font-family: 'Sansita', sans-serif;
  font-size: 30px;
  display: block;
  margin: 20px 0 40px 0;
  line-height: 1.2;
  color: #111;
}

.latest-articles-author {
  font-family: 'Sansita', sans-serif;
  margin-bottom: 25px;
}

.latest-articles-text {
  font-family: 'Spinnaker', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.member-count {
  background-color: #666;
  height: 740px;
  border: 1px solid #666;
  border-radius: 20px;
  margin: 0 15px 0 15px;
}

.smashing-tv {
  background-color: #666;
  height: 740px;
  border: 1px solid #666;
  border-radius: 20px;
  margin: 0 15px 0 15px;
}

.latest-link {
  width: 100%;
  height: 170px;
  background-color: #f4f4f4;
  border: 1px solid #000;
  text-align: center;
  position: relative;
}

.latest-link p {
  position: absolute;
  top: 50%;
}

.design-handbook {
  height: 1091px;
  background-color: #b0b0b0;
}

.community-links {
  background-color: #fff;
}

.person-week {
  height: 320px;
  border: 1px solid #000;
}

.community-articles {
  display: flex;
  flex-wrap: wrap;
}

.community-articles > div {
  width: 50%;
  height: 380px;
  background-color: rgb(189, 187, 187);
}

.community-articles :nth-child(1) {
  background-color: rgb(134, 134, 134);
}

.community-articles :nth-child(4) {
  background-color: rgb(134, 134, 134);
}

.community-articles :nth-child(5) {
  background-color: rgb(134, 134, 134);
}

.more-twitter {
  height: 200px;
  border: 1px solid #000;
}

.featured-book {
  height: 406px;
  background-color: #666;
}

.guides-links {
  background-color: #f4f4f4;
}

.guides-links-wrapper {
  min-width: 417px;
  max-width: 1284px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.guides-links-wrapper > div {
  width: 350px;
  height: 600px;
  background-color: rgb(134, 134, 134);
}

.guides-links-wrapper :nth-child(2n) {
  background-color: rgb(189, 187, 187);
}

.guides-links-wrapper :last-child {
  width: 417px;
  height: 1033px;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 20px;
  margin: 0 15px 0 15px;
  flex-grow: 4;
}

.all-articles {
  height: 200px;
}

.page-footer {
  margin: auto;
  text-align: center;
  height: 663px;
  background-color: #666;
  color: #fff;
}

.other-links {
  padding-bottom: 10px;
}

.page-footer .other-links li {
  display: inline-block;
  font-size: 1.5rem;
}

.page-footer .other-links {
  list-style-type: disc;
  width: 95%;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}

footer a {
  text-decoration: underline;
  line-height: 0.6;
  color: #fff;
}

footer .other-links a {
  line-height: 2;
  text-decoration: none;
}

.footer-header {
  text-align: center;
  padding-top: 60px;
}

footer div p {
  margin-top: 10px;
}

footer .italic {
  font-style: italic;
  margin-top: 50px;
}

.other-links a:hover {
  color: #000;
}

.other-links a::before {
  content: '•';
  margin: 0 0.25em 0 0.25em;
  display: inline-block;
  color: #811d15;
  font-size: calc(1em + ((0.4vw + 0.25vh) / 2));
  position: relative;
  top: 2px;
}

.nav {
  width: 35%;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

.nav li {
  display: inline-block;
  color: #fff;
}

.nav a {
  line-height: 3;
  margin: 10px;
}
